<html data-theme="light">
<head>
  <title>Adres.link</title>
  <meta name="description" content="Adres.link">
  <meta name="robots" content="noindex, follow">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.28.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css"/>
<meta name="viewport" content="width=device-width">
</head>
<body>


<!-- header -->
<div class="navbar shadow-lg bg-neutral text-neutral-content rounded-none">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold">
      Adres.link
    </span>
  </div>
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      <a href="../" class="btn btn-ghost btn-sm rounded-btn">
        Home
      </a>
    </div>
  </div>
</div>
<div class="min-h-screen">
<!-- end header -->