
<style>
  .hero{height:400px !important; overflow:hidden;}
  #map{height:100%;}
  .hero-content{width:50%;min-width:300px;overflow:auto;}
</style>
<style>
  .mapsam{
    width: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 40% !important;
    min-height:250px;
    overflow: hidden;
  
  }
  .mapsearch{
    bottom:0px;
    left:0px;
    width:100%;
    position: absolute;
    width:100%;
    height:55px;
    display: flex; align-items: center;
    justify-content: center
  }
  #map{height:100%;}
  .hero-content{width:50%;min-width:300px;overflow:auto;bottom:0px;left:0px;width:100%;}
</style>

<!-- hero -->
<div id="newadress" class="text-right"></div>
<div class="mapsam">
    <div class="hero-overlay" id="mapsam"></div>
    <div class="mapsearch" style="z-index:9999;">
        <div style="width:90%;">
          <form action="/search" method="get">   
            <div class="form-control">
              <div class="input-group items-center justify-center content-center">
                <input name="q" id="search" type="text" placeholder="Search…" value="<%- query %>" class="input input-bordered" />
                <button class="btn btn-square">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                </button>
              </div>
            </div>
        </form>
        </div>
    </div>
  </div>
  <%- controller.map_script %>