<%- include('../layouts/header',{meta:meta}) %>

<%- include('../layouts/mapview', {query: p?.controller?.get?.query, controller: p?.controller}) %>

  <!-- end hero -->
  <!-- adress 11 -->
  <div id="viewothermapportal"></div>
  <link rel="stylesheet" href="./assets/leaflet.css" crossorigin="" />
  <script src="./assets/leaflet.js" crossorigin=""></script>
  <script>
    PageScript.viewMap()
  </script>
  <style>
    .search-result{
      padding:10px 0;
      min-height:100%;
    }
  </style>

  
<%- include('../layouts/footer') %>